*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* ===================COMMOM PROPETY LIKE BOOTSTRAP=============== */

.text-bold{

    font-weight: bold!important;
}
a{
    text-decoration: none;
    color: white!important;

}
.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}
.align-items-space-between{
    align-items: space-between;
}
.flex-dir-col{
    flex-direction: column;
}
.justify-content-space-between{
    justify-content: space-between;
}
.text-deco-none{
    text-decoration: none;
}

/* ================================================================= */


header{
    min-height:80px;
    width:100%;
    padding:20px;
    
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header > div{
    align-items: center;
}

.search-bar {
  position: sticky;
  top: 0;
  z-index: 10;  /* keep it above other elements */
  background-color: white;  /* prevent overlap transparency */
}


